/* Styling copied from w3schools.com/css/css_positioning.asp (W3Schools.com) */

div.static {
  position: static;
  border: 3px solid #73AD21;
}

div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}

img {
  position: absolute;
  width: 20%;
  left: 0px;
  top: 0px;
  z-index: -1;
}



/* .left { 

  position: absolute; - stays in the position defined on the page (scroll away from it possible)
  position: fixed; - Stays in the same position defined even when scrolling (side bar, or a nav bar)
  margin-left: 50px;

  z-index: <some number> the higher the number the more ontop the element will be, and the lower will make it beneath other elements. 
  
  z-index: 0 
 
 img { z-index: -1} 
 abovetext { z-index: 1}

  float: ___----_________________________

  red and blue box slightly transparent
  red box float left

  blue box appears over/under it, purple section




 } */